.main-header {
    background-color: #1f2937;
    color: white;
    height: 60vh;
    margin: 0;
    padding: 0;
    border: 0;
}

.top-header {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links {
    display: flex;
    align-items: center;
    gap: 16px;

}

.top-sign-up {
    padding-left: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-container {
    display: flex;
}

.hbrag {
    font-size: 40px;
    margin-bottom: 2px;
    display: flex;
}

.shbrag {
    display: inline-flex;
    inline-size: 450px;
    font-size: 12px;
    font-weight: bolder;
}

.topbutt {
    background-color: #3882F6;
}

img {
    max-width: 250x;
    max-height: 250px;
}

.image {
    padding-left: 180px;
    display: flex;
    
}

.info-header {
    background-color: white;
    height: 60vh;
}

.random {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.box-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 200px;
    height: 200px;
    background: linear-gradient(blue, lightgrey);
    border-radius: 20px;
    display: flex;
}

.text {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: -32px;
    margin-left: 9px;
}

#text {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: -48px;
    margin-left: 9px;
}

.quote-container {
    background-color: #e5e7eb;
    height: 60vh;
    margin-top: 20vh;
    display: flex;
}

.quote, .ak {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    inline-size: 450px;
    padding-left: 450px;
    }

.ak {
    font-size: 20px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 150px;
    margin-right: 100px;

}